body {
    font-family: "Roboto", "Raleway" sans-serif;
    color: #2E2F42;
}

.nav-list .link {
    font-weight: 500;
    line-height: 1.5;
    color:#2E2F42;
    text-decoration: none;
    
}

.nav-list .link:hover 
.nav-list .link:focus {
    color: #404BBF;
}

